    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/snakeandladder.js"></script>
    <script src="/javascripts/easeljs.min.js"></script>
    <script src="/javascripts/tweenjs.min.js"></script>
  </body>
</html>