<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Snakes & Ladders - Multiplayer</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link href="https://fonts.googleapis.com/css?family=Dekko|Delius+Unicase:700|Indie+Flower|Julee|Merienda" rel="stylesheet">
</head>
<body>
